
.bg-colorUser {
    background-color: #00279A;
    border-color: #002184;
}

.bg-color1 {
    background-color: #4A6DD7;
    border-color: #3251AE;
}

.bg-color2 {
    background-color: #004d40;
    border-color: #01493D;
}

.bg-color3 {
    background-color: #f57f17;
    border-color: #D76D11;
}

.bg-color4 {
    background-color: #37474f;
    border-color: #24414F;
}

.bg-color5 {
    background-color: #DAC200;
    border-color: #C9B300;
}

.bg-color6 {
    background-color: #6a1b9a;
    border-color: #5D1688;
}

.bg-color7 {
    background-color: #880e4f;
    border-color: #820347;
}

.bg-color8 {
    background-color: #A10707;
    border-color: #970909;
}

.bg-color9 {
    background-color: #3FF2F3;
    border-color: #1DE5E6;
}