<!DOCTYPE html>
<html lang="fr">
<head>
    <meta name="viewport" content="initial-scale=1.0">
    <meta charset="UTF-8">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <link href="../css/style.css" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="./../scripts/ajax.js"></script>
    <script src="../scripts/javascript.js"></script>
    <title>FreeChat</title>
</head>
<body>
    <div id="Chat">
        <h1>Bienvenue sur FreeChat !!</h1>
        <h2>Le chat ouvert a tous pour tout le monde </h2>
        <div id="contenue">
        </div>
        <div id="write-zone">
            <input type="text" id="text">
            <button id="send"><i class="material-icons">send</i> Envoyer</button>
        </div>
    </div>
</body>
</html>